.error {
    border: solid red;
  }
  
  .success {
    border: solid green;
  }
  
  body {
    margin: auto;
    background-image: url();
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 500%;
  }
  body .sndblock {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body .sndblock .mainblock {
    margin-top: 10%;
    background-color: white;
    background-position: center;
    padding: 4%;
  }
  body .sndblock .mainblock .set1 .butn {
    margin-top: -5%;
    margin-left: 5%;
    margin-right: 5%;
  }
  body .sndblock .mainblock .set1 .butn button {
    width: 45%;
    height: 20%;
    border-radius: 5%;
    margin-left: 2%;
    background-color: rgb(139, 217, 236);
    color: black;
    padding: 9%;
  }
  body .sndblock .mainblock .set2 {
    margin: 0;
    display: block;
  }
  body .sndblock .mainblock .set2 .heading h2 {
    color: black;
    text-align: center;
    margin-top: 10%;
    font-weight: 1000;
  }
  body .sndblock .mainblock .set2 .px p {
    text-align: center;
    color: red;
  }
  body .sndblock .mainblock .set2 .fld {
    text-align: center;
    display: block;
  }
  body .sndblock .mainblock .set2 .fld input {
    margin-top: 1%;
    margin-bottom: 1%;
    height: 3%;
    width: 50vh;
  }
  body .sndblock .mainblock .set2 .fld .buton input {
    background-color: rgb(139, 217, 236);
    color: black;
    padding: 2%;
  }
