<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color:powderblue;" >
    <h4 style="text-align:center">Course details</h4>
    {% for k in coursed %}
    <div style="text-align:center" >
        
        <div class="card-body">
            <h5 > {{k.name}}</h5>
            <p >{{k.description}}</p> 

        </div>
    </div>
    {% endfor %}

</body>
</html>